In [1]:
import pandas as pd

In [2]:
# create the one-dimensional array 
data = [1, 2, 3, 4, 5] 
  
# create the Series 
ex1 = pd.Series(data) 
  
# displaying the Series 
print(ex1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [5]:
# creating 2 Pandas Series 
series1 = pd.Series([2,4,6,8,10]) 
series2 = pd.Series([1,3,5,7,9]) 
  
# adding the 2 Series 
series3 = series1 + series2 
  # displaying the result 
print(series3) 
series3 = series1 - series2 
print(series3)
series3 = series1 * series2 
print(series3)
series3 = series1 / series2
print(series3)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [6]:
# Create a dictionary
d = {'g' : 100, 'e' : 200,
     'k' : 400, 's' : 800,
     'n' : 1600}
 
# Convert from dictionary to series
result_series = pd.Series(d)
 
# Print series
result_series

g     100
e     200
k     400
s     800
n    1600
dtype: int64

In [7]:
import numpy as np

# creating an NumPy array 
array = np.array([10, 20, 1, 2,  
                   3, 4, 5, 6, 7]) 
  
# displaying the NumPy array 
print("Numpy array is :") 
display(array) 
  
# converting the NumPy array  
# to a Pandas series 
series = pd.Series(array)  
  
# displaying the Pandas series 
print("Pandas Series : ") 
display(series)

Numpy array is :

array([10, 20,  1,  2,  3,  4,  5,  6,  7])

Pandas Series :

0    10
1    20
2     1
3     2
4     3
5     4
6     5
7     6
8     7
dtype: int64

In [8]:
# creating a DataFrame 
df = pd.DataFrame({'srNo': [1, 2, 3], 
                   'Name': ['Geeks', 'for',  
                            'Geeks'],  
                   'id': [111, 222,  
                          333]}) 
# show the dataframe 
print(df)

   srNo   Name   id
0     1  Geeks  111
1     2    for  222
2     3  Geeks  333

In [9]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = s1.values
print(a)
print(type(a))

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [10]:
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83